<h1>Trillio</h1>
<p>Welcome to Trillio</p>

<form id="textForm", role="form">
    <div>
        <label for="num">Phone Number to text:</label>
        <textarea id="num"></textarea>
    </div>
    <div>
        <label for="msg">Message:</label>
        <textarea id="msg"></textarea>
    </div>
    <button type="submit">Text!</button>
</form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/app.js"></script>